name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Prepare java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '21'

    - name: Install Clojure
      uses: DeLaGuardo/setup-clojure@master
      with:
        cli: '1.10.3.814'
        clj-kondo: 2022.05.31        # Clj-kondo
        cljfmt: 0.10.2               # cljfmt
        cljstyle: 0.15.0             # cljstyle

    - name: Run Check
      run: make

    - name: Update junit.xml
      uses: actions/upload-artifact@v4
      with:
        name: junit-file
        path: junit.xml

    - name: Update coverage file
      uses: actions/upload-artifact@v4
      with:
        name: coverage-file
        path: target/coverage/index.html
